<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean class="com.san.Airtel" id="a1"></bean>
<bean class="com.san.Vodaphone" id="v1"></bean>
<bean class="com.san.Airtel" id="s1"></bean>
</beans>